@import "../core/reset.scss";

.container {
  background-image: url(../../images/list.jpg);
  background-position: center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &-back {
    padding-right: 20px;
  }
}
.button {
  margin-left: 30px;
  font-family: "Harry Potter", sans-serif;
  background-color: #ffe897;
  cursor: pointer;
  font-size: 15px;
  width: 100px;
  height: 40px;
  font-weight: 600;
  :hover {
    background-color: #800000;
  }
}
.character {
  &__DetailItem {
    padding: 50px;
    border: solid;
    padding-top: 40px;
    margin: 30px;
    border-color: azure;
    background-color: #800000;
    width: 320px;
    height: 450px;
    background-size: 20px;
    font-size: 18px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

    &-img {
      height: 295px;
      width: 210px;
    }
  }
}
@media (max-width: 320px) {
  .button {
    margin-left: 30px;
    font-family: "Harry Potter", sans-serif;
    background-color: #ffe897;
    cursor: pointer;
    font-size: 15px;
    width: 100px;
    height: 40px;
    font-weight: 600;
    :hover {
      background-color: #800000;
    }
  }
  .character {
    &__DetailItem {
      &-img {
      }
    }
  }
}
