@import "../core/reset.scss";
.characters {
  &___Articles {
    padding: 50px;
    border: solid;
    padding-top: 40px;
    margin: 30px;
    border-color: azure;
    background-color: #800000;
    width: 246px;
    height: 393px;
    background-size: 20px;
    font-size: 18px;

    &___Item {
      &--h2 {
        color: black;
      }
      &--img {
        height: 229px;
        width: 136px;
      }
    }
  }
}
@media (max-width: 320px) {
  .characters {
    &___Articles {
      width: 80%;
      height: 450px;
      padding-bottom: 80px;
      &___Item {
        &--img {
          height: 250px;
          width: 170px;
          object-fit: cover;
        }
      }
    }
  }
}
