@import "../core/reset.scss";

.characterSection {
  background-color: #ffdb5878;
  background-image: url(../../images/fondo.jpg);
  // background-repeat: no-repeat;
}
.return {
  padding: 50px;
}
.link {
  background-color: #800000;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  padding: 5px;
  font-size: 30px;
  color: black;
  &:hover {
    background-color: #ffdb5878;
  }
}

.character {
  display: flex;
  justify-content: center;
  &__DetailItem {
    padding: 50px;
    border: solid;
    padding-top: 40px;
    margin: 30px;
    border-color: azure;
    background-color: #800000;
    width: 320px;
    height: 450px;
    background-size: 20px;
    font-size: 18px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

    &-img {
      height: 295px;
      width: 210px;
    }
  }
}
