@import "../core/reset.scss";

.filter {
  display: flex;
  justify-content: center;

  &__img {
    cursor: pointer;
    height: 100px;
    margin-bottom: 30px;
    margin-left: 150px;
  }
}
