@import "../core/reset.scss";
@import url("https://fonts.cdnfonts.com/css/harry-potter");

.form {
  background-image: url("../../images/fondo.jpg");
  height: 170px;
  display: flex;
  justify-content: center;
  padding-top: 60px;
  &__houses {
    font-family: "Harry Potter", sans-serif;
    font-size: 30px;

    &-label {
      margin-top: 7px;
      padding: 5px;
    }
    &-select {
    }
  }
}
