@import "../core/reset.scss";

.characters {
  &__List {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-row-gap: 100px;
    grid-column-gap: 200px;
    text-decoration: none;
    justify-items: center;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  &__error {
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: red;
  }
}
@media (max-width: 768px) {
  .characters {
    &__List {
      // grid-template-columns: 1fr 1fr;
    }
  }
}
@media (max-width: 320px) {
  .characters {
    &__List {
      // grid-template-columns: 1fr;
    }
  }
}
