@import "core/reset";

.header {
  background-image: url("../images/header.jpeg");
  height: 400px;
  background-repeat: no-repeat;
}
.detail {
  padding: 50px;
  border: solid;
  padding-top: 40px;
  margin: 30px;
  border-color: azure;
  background-color: #800000;
  width: 320px;
  height: 450px;
  background-size: 20px;
  font-size: 18px;
}
