/* Aquí van tus estilos */
.title {
  font-size: 50px;
}
.li {
  padding: 50px;
  border: solid;
  border-color: azure;
  background-color: rgba(0, 0, 255, 0.393);
  background-size: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.image-character {
  height: 295px;
  width: 210px;
}
